body {
background:#f5f5f5;
color:#444444;
font-family:trebuchet ms,luxi sans,sans-serif;
margin:10px auto auto;
padding:0;
width:891px;
}

a {
text-decoration:none;
color: #0044B3;
}

a:hover {
color: green;
text-decoration:underline;

}

#header {
margin:auto;
position:relative;
width:891px;
text-align: center;
}


#header h1 {
color:#444444;
font-size:3.75em;
letter-spacing:-1px;
text-align:center;
text-decoration:none;
margin: 0 0;
padding: 0 0;
line-height: 1.5em;
}
#header h1 small {
font-size: .4em;
margin: 0 0 0 555px;
text-align: left;
font-weight: 400
}

#header h1 a:hover {
text-decoration:none;
}

.day h2 {
background: none;
color:#696969;
font-size:1.5em;
font-weight:bold;
border-bottom: 2px solid;
margin:25px 0 8px;
padding:0 6px;
text-align:right;
width:650px;
}

.itemdescription h2 {
background:#81BBF2 none repeat scroll 0 0;
color:#FFF;
font-size:120%;
}

.time h3 {
background:none;
color:#8B0000;
padding: 4px;
text-align:left;
display:list-item;
}


img {
border:none;
max-width: 95%;
}

#items {
float:left;
width:650px;
}

.item {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 2px solid #D3D3D3;
background: white;
padding:0.2em 1.2em 1.2em;
margin-bottom: 28px;
}

.itemtitle {
color:#444444;
font-size:1em;
font-weight:700;
text-decoration:none;
}

.itemtitle a {
font-weight:400;
text-decoration:none;
color: #0044B3;
}

.itemtitle a:hover{
color: green;
text-decoration:underline;
}

.itemdescription {
font-size:.81em;
line-height:1.7em;
}

#feedstats {
float:right;
height:100%;
margin-top:25px;
text-align:right;
width:230px;
}

#feeds {
border:1px solid gray;
border-spacing:0;
margin:10px 0;
}

.xmlbutton {
background:#F60;
border:1px solid;
border-color:#FC9 #630 #330 #F96;
color:#FFF;
font:bold 10px sans-serif;
margin:0;
padding:0 3px;
text-decoration:none;
}

#xmls a {
text-decoration:none;
}

#feedstatsheader, #feedlaststatus, 
#feedsarchive, #feedsblogs, 
#feedslang {
margin:40px 0 10px;
width:230px;
}

#feedlist {
float:right;
width:200px;
}

#feedlist a {
color:#444444;
font-family:Verdana,Geneva,Tahoma,sans-serif;
font-size:.69em;
margin:0 0 3px 3px;
text-align:right;
text-decoration:none;
}

#feedlist a:hover {
background-color:#F0F8FD;
color:#444444;
}

pre {
overflow:auto;
}

#footer {
clear:both;
}

#footer p {
font-size:.69em;
}

#footer #aboutrawdog {
padding-top:40px;
}

.paged_output_pages {padding:0;}
.paged_output_pages li {display:block;}

#archive {
text-align: center;
float: right;
padding-bottom: 30px;
font-size: 14px;
}

.cal-othermonth {
color: #d4d4d4;
}

.cal-link {
font-weight: bold;
}

.cal-current {
color: #FF0000;
}

.cal-prev, .cal-next {
font-weight: bold;
}

.geshifilter {
   background: #F8F8F8;
}
